.toolbar{
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 0px;
  overflow: hidden; /* evita que elementos vazem */
}

/* logo*/
.logo {
  width: 70px;
  height: auto;
  margin-left: 10px;
}

//Título//
.title{
  font-family: 'Arial', sans-serif; /* muda a fonte */
  font-size: 30px;                  /* tamanho da letra */
  color: #f28444;                   /* cor da letra */
  font-weight: bold;                 /* negrito */
  letter-spacing: 2px;               /* espaço entre letras */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* sombra */
}

.persson{
  color: white;
  cursor: pointer;
  font-size: 26px;
}

/* Ícones à direita */
.icones-escolha {
  margin-left: auto;  /* força o ícone para a extrema direita */
  display: flex;
  align-items: center;
  gap: 15px; /* espaço entre ícones se houver mais de um */
}

.persson:hover, .persson-item:hover{
  color: #f28444;
}

.persson-item{
  color: black;
}



